.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.phonebook_box {
  margin: 0 auto;
  padding: 0;
  width: 560px;
  min-height: max-content;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(37, 211, 196);
  padding: 10px;
  overflow: hidden;
  color: #000;
  border: none;
  opacity: 0.9;
}

.Title {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ------------------CONTACTS--------------------- */

.phonebook__contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  height: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}
