.phonebook_name {
  margin-bottom: 5px;
  font-size: 20px;
}
.phonebook_name__filter {
  margin-bottom: 10px;
}

.phonebook__input {
  margin-bottom: 25px;
  width: auto;
  max-width: 200px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.404);
  outline: none;
}

.phonebook__input:hover,
.phonebook__input:focus {
  box-shadow: 0 0 3px #000;
}
